nav h4{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #717D7E;
}
nav ul li a{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #7EB1B1;
}
.search_table tr th{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #717D7E;
}